#ParentPane{
    -fx-background-image: url("resources/MainWindowBgImage.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#PropertiesPane{
    -fx-background-color: rgba(150, 150, 150, 0.8);
    -fx-background-radius: 5;
}